<mat-toolbar color="primary">
    <mat-toolbar-row>
     <span>Lyfe Lynes</span>  
    <span>Profile</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
       
        <button mat-button>About</button>
        <button mat-button>Contact</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item enabled>
        <mat-icon>notifications_on</mat-icon>
        <span>Enable Notifications</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable Notifications</span>
      </button>
    </mat-menu>
    <button mat-button>Logout</button>
    <button mat-icon-button [matMenuTriggerFor]="menu"></button>
     </mat-toolbar-row>
    </mat-toolbar>
  
   <div>
       <h1>First Name Last Name</h1>
            <h2>About Me</h2>
            <h3>Location</h3>
            <h3>Work</h3>
            <h3>Education</h3>
            <h3>Interest</h3>

      
   </div>