p {
    font-weight: bold;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
span {
    display: table;
    margin: 0 auto;
    color: white;
}
.mat-button {
    color: white;
}