<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
  <span title>Lyfe Lynes</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item enabled>
      <mat-icon>notifications_on</mat-icon>
      <span>Enable Notifications</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable Notifications</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
  </mat-toolbar>

    <mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>Login</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form">
       <table class="example-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="Username" [(ngModel)]="user.username" name="username" required>
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Password" [(ngModel)]="user.password"type="password" name="password" required>
         </mat-form-field></td>
       </tr></table>
     </form>
     <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button (click)="login()" color="primary">Login</button>
     <button mat-raised-button (click)="forgotPassword()" color="primary">Forgot Password?</button>
     
   </mat-card-actions>

   <p>Not a user? <a href="" routerLink="/register" >Register</a> here.  </p>

 </mat-card>  -->

 <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome to Lyfe Lynes!</h3>
                <form>
                  <div class="form-label-group">
                    <input type="text" id="inputUserName" class="form-control" placeholder="User Name" [(ngModel)]="user.username" name="username" required autofocus>
                    <label for="inputUserName">User Name</label>
                  </div>
  
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="user.password" name="password" required>
                    <label for="inputPassword">Password</label>
                  </div>  
                 
                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" (click)="login()" >Sign in</button>
                  <div class="text-center">
                     <p class="small" >Don't have a User Name<a class="small" href="#" routerLink="/register"> Register here.</a> </p></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>